/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

#wrap {
    padding-top: 90px;
    min-height: 100vh;
    margin: 15px auto -70px;
  }